<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworkActivityLogger.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>AFOAuth1Client.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ALPValidator.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ARASCIISwizzle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ARAnalytics.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ARCollectionViewMasonryLayout.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ARGenericTableViewController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>ARTiledImageView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Adjust.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Aerodramus.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Analytics.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Artsy+UIColors.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Artsy+UIFonts.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Artsy+UILabels.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Artsy-UIButtons.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Bolts.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>CocoaLumberjack.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>DHCShakeNotifier.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>DRKonamiCode.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>EDColor.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Emission.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Expecta+Snapshots.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Expecta.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Extraction.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>FBSDKCoreKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>FBSDKLoginKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>FBSnapshotTestCase.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>FLKAutoLayout.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>FXBlurView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>Forgeries.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>HockeySDK-Source-HockeySDKResources.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>HockeySDK-Source.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>ISO8601DateFormatter.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Interstellar.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>JLRoutes.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>JSBadgeView-JSBadgeView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>JSBadgeView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>JSDecoupledAppDelegate.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>KSDeferred.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>Keys.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>MARKRangeSlider-MARKRangeSlider.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>MARKRangeSlider.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>MMMarkdown.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>Mantle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>MultiDelegate.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>NAMapKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>NPKeyboardLayoutGuide-NPKeyboardLayoutGuide.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>NPKeyboardLayoutGuide.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>Nimble-Snapshots.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>Nimble.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>OCMock.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>OHHTTPStubs.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>ORKeyboardReactingApplication.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>ORStackView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>ObjectiveSugar.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>Pods-Artsy Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>Pods-Artsy.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>Quick.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>RSSwizzle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>React.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>ReactiveCocoa.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>SDWebImage.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>Specta.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>Starscream.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>SwiftyJSON.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>Then.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>UIAlertView+Blocks.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>UICKeyChainStore.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>UIView+BooleanAnimations.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>VCRURLConnection.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>XCTest+OHHTTPStubSuiteCleanUp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>iRate.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>055625684EDEC9E090DE52843F01B9AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07469602D1232DCCFEA1728E58706E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07D705CEA74976B280D94E414E96056C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A218724A4F645CCC85B53A5EAA1FEAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EB6692CCC9BD6E9669FEC532D690972</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1171458A3CFAEF4C1C611852E7C7E61F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>140AE0B2D6EA6CB4D945CC7D4854D070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>192C75167CB7EF92C9054EFEDF46A922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1996B48BB1C357DAD8626189676F79AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A38CCC307C7ECD3B8D57E35B61E015A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D951AA6F1C48C831E0289C5B7E9A531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E97C876E8DC3DEEC4BCA83C18D4CBBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C338FAA9E9D7408E583B00A45C412B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C3E97ACCFC841BA9784B6672DEDCEE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3154060BBD6741F8BE534FCA8A9A2166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31B3CC263B08ED653A0A34C6FF1A2057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33E6E4ED801B7382C08FEB6B69604086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3650FADCCE1648C2D5355F13931882EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F2A5B399925E692D128A32F1767A52A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4061F59350AB647E41142595963410F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43465475F37EC62ADE3092ED068C504C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44F7932260D05B6C5A25BAB10E53FBA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47057A82B132512983EA947AD795ADD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525CF03E5BE30CAA672090F260F654C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62F228BD15A486A30E3CF03F957B86D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>650B0E9A23CE879E1D4A5491679F34F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EDD410581E2CE2933753F96C239877D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78680106574955753A28B727A29C33C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>798B5234C624672E166DE120FF1699FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79D6978228FA7857F39FBCF6DAA133C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B4D8A03C6C4471F2055C6C71D9EB843</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B8E7547F282E4D51F986AA4E0E7D332</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DB1321FCB3F924AB744AFF7C2FE1F23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>811C105CD17B6F42CA19C3952CCE147C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82BBE2A4FE65B0EEEA34D6B786AFDCAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A9EA5B14FA43DE0F09D994B053F5147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BD997FE0687CF9DED661037E18671BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C569EAC995A639937395D3D6F88683C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D10B4C6C963242E44E4A4A4E25FBCE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9377314D865789A72CF8B5123602C41C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9580602506A12DAC13555633594009AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97CB734EB0784252C4049112FE9D13E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B7C483CC742A91B0A829B1FFD43C7DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A64781B536C17AECC63D45A456197DDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABD40E4EA212BB4833D4FF2EED68654D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADFA00EFB7E026EEE345032CEF4DF29A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B078EC8E9CCAA06B5D6ABB0C52CA961A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B75E4BEF7A46234C48E93D7D5D1984DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDAD41505EEAC6B872F092682ED4B704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5BEB70FB06FCEE12CF6CA6999C7AE7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C740DB33E21102D641E2A00656BAA20E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8495962F34D9CD43D72FCA8D2D21DD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C92E0FC3D85AD970D3110F28AF90E8B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB461042D36C084BE1AEC29E79C02942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBDFC623F0A7308DB7719753180AFDA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4366019FDFD4968B0EE7D6057DFCEF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D485F31831BD94B5864F41D9867D1648</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4EA5843BC430056CD3487FCD3FAE832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8B8DFDF9D80C6BC22DD87BD5D2E767D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D92C739872C5210189B1BD19324F9F08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E227947FADB0E7EE1D963181EDF9B568</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3CE1A6C32CBEB79A583859480E4D6EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E441A490F40188C03703E83906EF2B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8172CF5440D34B086CA5CAAACF83F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E991BF6D45EEDA48FED1E69E1021CACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED3B906845B8A3D3164D35A1D19A641E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF4A6711A3C706C68A57EB6C3AA5CBF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F03F91FFCAB1887D30592326116C3FC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F439C40A4A54D6148201384AC2D06BE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F602FC07BE47D9F1C9993FCE98EBC094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA1D118FECDD302F0AAFB45EFD912E47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBE7835ED97EC5AC1AB8ED0FD6E1B398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDFFAD6CD12FEA335882CD4EC74046FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
